body {background-color: beige; 
     margin-top: 50px;
    align-items: center;
}

#tittle {
    background-color: brown;
    text-align: center;
    margin: 50px;
    padding: 50px;
}

#a1{ 
  background-color: aquamarine;
  padding: 20px;
  margin: 15% au;
  border: 7px; 
}

#a2{
    background-color: rgb(255, 0, 251);
    padding: 20%;
    margin: 15%;
    border: 7%;
}

#a3{ 
    background-color: rgb(255, 191, 0);
    padding: 20rem;
  
}

#a4{
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    margin: 100px;
    border: 100px;
}

#pic{
    align-items: center;
}

#home{
    margin: 50px;
    border: 25px;
}
