h1{
    text-align: center;
    color: rgb(220, 131, 244);
    font-family: 'Courier New', Courier, monospace;
}

#response{ 
    background-color: rgb(151, 246, 129);
    margin: 20px;
    padding: 10px;
    border: dotted;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: bisque;
}

#pics{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    padding-right: 25px;
    padding-left: 25px;

}

#homelink{
    align-items: center;
    text-align: center;
}